@model SistemaRestaurante.Models.ItemPedido

@{
    ViewData["Title"] = "Detalhes";
}

<div>
    <h4>Detalhes do pedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pedido.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mt-3">Edit</a>
    <a href="@Url.Action("Index", "Pedido")" class="btn btn-danger mt-3">Cancelar</a>
</div>
